// import home page style
@use "./section/homeStyle";

// import button style
@use "../css/section/bottone";


// variabili
@use "../css/abstract/variables";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    max-width: 1500px;
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
}

#container {
        width: 99%;
        // border: 3px dotted white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        height: 90dvh;
        padding: 16px;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: auto;
    padding-bottom: 56px;

    h2 {
        color: variables.$darkRed;
    }
}

