// import home page style
@use "./section/homeStyle";

// import button style
@use "../css/section/bottone";


// variabili
@use "../css/abstract/variables";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: variables.$fontFamily;
}

#container-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: 1px solid red;
}

.grid-item {
    border: 1px solid red;
}

