@use "../abstract/variables";

//  stile bottoni
// + & - button
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background:linear-gradient(variables.$lightRed, variables.$darkRed);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    border: 1px solid red;
    cursor: pointer;
}


// stile reset
.reset {
    font-size: 12px;
    border-radius: 0;
    max-width: 100px;
    height: 30px;
    border: 1px solid grey;
    background: linear-gradient(rgb(169, 168, 168), rgb(61, 56, 56));
    cursor: pointer;
}


// hover button
.btn:hover {
    background:linear-gradient(variables.$darkRed, variables.$lightRed);
}

.reset:hover {
    background: linear-gradient(rgb(86, 86, 86), rgb(41, 37, 37));
}