// IMPORT VARIABILI
@use "../abstract/variables";

@use "../abstract/animations" as animations;


// - - - - H E A D E R - - - - - 
.header {
    grid-area: header;
    width: 100%;
    margin-top: 16px;

    &__title {
        font-family: variables.$fontFamilyMain;
        font-size: 27px;
        text-align: left;
        line-height: 1.2em;

        &--mini{
            width: 100%;
            text-align: left;
            font-size: 20px;

            @media (min-width:1024px) {
                text-align: center;
            }
        }
    }

    // DESKTOP HEADER
    @media (min-width:1024px) {
        grid-area: header;
        width: 100%;
        text-align: center;
        height: auto;
    }


    // - - - - MENU BAR - - - -
    .nav {
        position: relative;
        width: 100%;
        text-align: center;
        // border: 1px solid salmon;
        background-color: variables.$coloreVerde;
        margin-top: 8px;
        cursor: pointer;

        &__icon {
            width: 100%;
            color:  variables.$coloreNero;
            animation: lampeggiamento 1s ease-in-out infinite;
        }

        &__list {
            position: absolute;
            top: 18px;
            // display: none;
            z-index: 10;
            height: auto;
            list-style: none;
            background-color: variables.$coloreVerde;
            width: 100%;

            li {
                padding: 10px;
                list-style: none;
                width: 100%;
                color: black;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            li:hover {
                background-color: variables.$coloreNero;
                color: white;
                
                a{
                    color: white;
                }
            }
        }
    }
}

// - - - - A S I D E - - - - - - 
.aside {
    display: none;
    grid-area: "aside";
    width: 100%;
    height: auto;

    // DESKTOP
    @media (min-width:1024px) {
        height: auto;
        display: block;
        grid-area: "aside";
        width: 100%;
        margin-top: 16px;
        padding: 16px;
        border: 1px solid variables.$coloreVerde;

        &__title {
            font-size: 20px;
            color: yellow;
        }

        &__text {
            padding: 8px;
            line-height: 1.2rem;
            letter-spacing: 0.2;
            animation: interferenza 10s ease-out infinite;
        }

        ol {
            padding-left: 32px;
            width: 100%;

            li {
                box-sizing: border-box;
                width: 100%;
                text-align: left;
            }
        }
    }
    
}

// - - - - M A I N - - - - - -
.main {
    border: 1px solid variables.$coloreVerde;
    padding: 16px;
    margin-top: 16px;
    grid-area: main;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    height: fit-content;

    @media (min-width:1024px) {
        grid-area: main;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        height: auto;
    }

    &__titles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width:1024px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            } //chiude query
    }

    &__contatore {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        height: 100px;
        margin-top: 8px;
        border: 5px solid variables.$coloreVerde;
        height: 300px;

        @media (min-width:1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            margin-top: 8px;
            border: 5px solid variables.$coloreVerde;
            height: 400px;
            width: 100%;
            }

        &__numero {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 120px;
            height: auto;
            }
        }
        
        &__button {
            // STILE BOTTONI 
            width: 100%;
            height: 50px;
            border: 1px solid yellow;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 80px;
        }
        
        &__randomText{
            margin: 16px auto;
            text-align: center;
            width: 100%;

        span {
            animation: lampeggiamento 1s ease-in-out infinite;
        }
    }

    &__image {
        margin-top: 50px;
    }
        
    } // chiude main__

    

// - - - - S I D E B A R - - - - - 
.sidebar {
    width: 100%;
    border: 1px solid variables.$coloreVerde;
    margin-top: 16px;
    font-size: 18px;
    padding: 16px;

    &__score {
        display: flex;
        flex-direction: column;

        &__info {
            width: 100%;
        }

        li{
            list-style-type: none;
            padding-top: 10px;

        span {
            font-size: 22px;
            color: variables.$coloreRosso;
            }
        }
    } //chiude score__

    &__image {
            max-width: 250px;
            margin: 24px auto;
            animation: interferenza 5s ease-in-out infinite;
            border-radius: 0px;
            border: 3px dashed variables.$coloreVerde;
        }
}

.footer {
    background-color: variables.$coloreVerde;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: black;
    // border: 1px solid variables.$coloreVerde;
    grid-area: footer;
    width: 100%;
    margin: 16px auto;

    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        grid-area: footer;
    }
}

    a{ 
        text-decoration: underline;
        padding: 5px;
        color: black;

        @media (min-width:1024px) {
            text-decoration: underline;
            font-size: 20px;
            color: black;
    }
}
